#smf-publish-wizard-step1-form-container {
  color: #f1f1f1;
  border: 1px solid #333433;
  border-radius:6px;
  box-shadow: -1px 0 rgba(255, 255, 255, 0.06) inset, -1px 0 rgba(255, 255, 255, 0.06);
  margin-left: -2px;
  margin-right: 1px;
  vertical-align: top;
  margin-top: -2px;
  padding: 8px;
  width:426px;
  float:left;
  height: 82px;
}

#smf-publish-wizard-step1-form-container2 {
  color: #f1f1f1;
  border: 1px solid #333433;
  border-radius:6px;
  box-shadow: -1px 0 rgba(255, 255, 255, 0.06) inset, -1px 0 rgba(255, 255, 255, 0.06);
  margin-left: -2px;
  margin-right: 0px;
  vertical-align: top;
  margin-top: -2px;
  padding: 8px;
  width:185px;
  float:left;
  margin-left:14px;
}

#smf-publish-wizard-step2-form-wrapper{
  height: 290px;
}

#smf-publish-wizard-step3-form-container {
    color: #f1f1f1;
  border: 1px solid #333433;
  border-radius:6px;
  box-shadow: -1px 0 rgba(255, 255, 255, 0.06) inset, -1px 0 rgba(255, 255, 255, 0.06);
  margin-left: -2px;
  margin-right: 1px;
  vertical-align: top;
  margin-top: 13px;
  padding: 8px;
  width:98%;
  float:left;
}

.smf-publish-wizard-step1-form {
  
}

.select-licence-header {
   color:#10b3c0!important;
   padding-top: 40px;
   margin-bottom: 15px;
   text-shadow: #333 0px 2px 0px;
}

.select-licence-header2 {
   color:#10b3c0!important;
   padding-top: 30px;
   margin-bottom: 15px;
   text-shadow: #333 0px 2px 0px;
}
.select-licence-header3 {
   color:#10b3c0!important;
   padding-top: 30px;
   margin-bottom: 0px;
   text-shadow: #333 0px 2px 0px;
}

.select-licence-font {
    color:#797b7a!important;
}

#smf-publish-wizard-step1-image{
    background-image: url("@{image-path}/smf-publish-wizard-step1-package.png");
    background-repeat: no-repeat;
    text-align:center;
    float:left;
    width: 92px;
    min-height: 100px;
    margin-left:20%;
}

#smf-publish-wizard-step1-description{
    float: left;
    width: 60%;
    color:#c4c4c4;
}

#smf-publish-wizard-step1-description a{
    float: left;
    width: 60%;
    color:#c4c4c4;
}


#smf-publish-wizard-step2-form-container{
    height: 200px;
}


.smf-dialog-notification{

}

.smf-dialog-error{

}


.publish-indent1 {
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
}

.publish-indent2 {
    margin-left:40px;
    border-bottom:1px solid #424442;
    border-top:1px solid #424442;
    padding-bottom:5px;
     padding-top:5px;
}

.spinner_p {
  margin: 0px 30px 0px 0px;
  width: 16px;
  height: 16px;
  position: relative;
  float:right;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 4px;
  height: 4px;
  background-color: #10b3c0;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out;
  animation: sk-bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner_p .spinner_p-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.publish_download a{
    float:right;
    color:#10b3c0!important;
    text-decoration:underline;
     background-image:url("@{image-path}/package_download.png")!important;
     background-repeat : no-repeat;
     height:15px;
     padding-left:24px;
}

.smf-publish-wizard-step1-package {
      display: table-cell;
}

.smf-publish-wizard-pot when not(@preferences-flat){
    border: 1px solid #333433;
    border-radius: 6px;
    box-shadow: -1px 0 rgba(255, 255, 255, 0.06) inset, -1px 0 rgba(255, 255, 255, 0.06);
    margin-left: -2px;
    margin-right: 1px;
    vertical-align: top;
    margin-top: 20px;
    padding: 8px;
    width: 645px;
    height: 220px;
    background-image:url("@{image-path}/publish_pot.png");
    background-repeat: no-repeat;
    background-position: center;
}

.smf-publish-wizard-pot when(@preferences-flat){
    border: 1px solid #333433;
    border-radius: 6px;
    box-shadow: -1px 0 rgba(255, 255, 255, 0.06) inset, -1px 0 rgba(255, 255, 255, 0.06);
    margin-left: -2px;
    margin-right: 1px;
    vertical-align: top;
    margin-top: 20px;
    padding: 8px;
    width: 645px;
    height: 220px;
    background-image:url("@{image-path}/publish_pot_white.png");
    background-repeat: no-repeat;
    background-position: center;
}

.smf-publish-wizard-dividerText {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: #eeeeee;
}

#smf-publish-wizard-step1-form-wrapper {
    margin-bottom: 7px;
}

.smf-publish-wizard-step1-AndroidLine {
    color:#808180;
    padding-left:12px;
}

.smf-publish-wizard-step1-iOSLine {
    color:#6D6F6D;
    padding-left:12px;
}

.blackdg .tree-headings {
    display:none!important;
}
/*
#smf-publish-wizard-step2-form-wrapper .blackdg .selected {
    color: #f1f1f1;
    background-color: #494b48;
    vertical-align: top;
}

#smf-publish-wizard-step2-form-wrapper .ace_tree_focus .selected {
    color: #f1f1f1;
    background-color:#494b48!important;
    vertical-align: top;
}
*/
#smf-publish-wizard-step2-form-wrapper .tree-row {
    color: #f1f1f1;
    background-color:#494b48!important;
    vertical-align: top;
    border-bottom: 1px #444 solid;
    
}


#smf-publish-wizard-step2-form-wrapper .ace_tree .tree-row .checkbox {
    margin: 0px 8px 0 0px!important;
}

#smf-publish-wizard-step2-form-wrapper .ace_tree_scroller {
    border-top: 1px #444 solid;
}

#smf-publish-wizard-step2-form-wrapper  .blackdg .tree-row > .tree-column {
    padding: 3px 0px 2px 5px!important;
}

#smf-publish-wizard-step2-form-wrapper .caption {
        height:30px!important;
}

#smf-publish-wizard-step2-form-wrapper .ace_tree .tree-row .checkbox.checked {
    background-image:url("@{image-path}/checkbox_publish.png")!important;
    background-position: 0px -85px!important;
}

#smf-publish-wizard-step2-form-wrapper .ace_tree .tree-row .checkbox {
    background-image:url("@{image-path}/checkbox_publish.png")!important;
    background-position: 0px -17px!important;
}

#smf-publish-wizard-step2-form-wrapper  .blackdg .tree-row .tree-column:nth-child(2) {
    border-bottom:2px;
    position: relative;
    top: -2px;
}

#smf-publish-wizard-step2-form-wrapper  .blackdg .tree-row .tree-column .caption
{
    position:relative;
    top: 2px;
}

.smf-publish-wizard .dialog-buttons {
    width: 672px;
}