<!--
Publish Wizard Step 2
-->
<div id="smf-publish-wizard-step2">
  <div class="clear">
    <div class="select-licence-header2">Select types of output:</div>
    <div class="select-licence-font">Select the types that you want to generate by the publish wizard. After selecting items, press the publish button on bottom right which will going to initiate the publish process. You can follow the process here</div>
    <div id="smf-publish-wizard-step3-form-container">
      <div class="select-licence-font" style="display:none;">
        <div id="spinnerContainer" style="display:none;">
          <div class="spinner_p" style="postion:relative; top:-5px; left:22px;">
            <div class="spinner_p-container container1">
              <div class="circle1"></div>
              <div class="circle2"></div>
              <div class="circle3"></div>
              <div class="circle4"></div>
            </div>
            <div class="spinner_p-container container2">
              <div class="circle1"></div>
              <div class="circle2"></div>
              <div class="circle3"></div>
              <div class="circle4"></div>
            </div>
            <div class="spinner_p-container container3">
              <div class="circle1"></div>
              <div class="circle2"></div>
              <div class="circle3"></div>
              <div class="circle4"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="smf-publish-wizard-step2-form-wrapper">
      </div>
    </div>

  </div>
</div>

</div>