<!--
Publish Wizard Step 1
-->
<div id="smf-publish-wizard-step1">
	<div class="clear">
		<div class="smf-publish-wizard-pot"></div>
	</div>
	<div class="clear smf-publish-wizard-dividerText">
		<span class="select-licence-header">Start here with Packaging :</span>&nbsp; First select the license
	</div>
	<div class="clear">
		<div id="smf-publish-wizard-step1-form-container">
			<div class="select-licence-font"></div>
			<div id="smf-publish-wizard-step1-form-wrapper"></div>
			<div class="label smf-publish-wizard-step1-packageLabel smf-publish-wizard-step1-package">
				<span class="smf-publish-wizard-step1-AndroidLine">Android package name:</span><br />
				<span class="smf-publish-wizard-step1-iOSLine">iOS bundle id:</span>
			</div>
			<div class="label smf-publish-wizard-step1-packageName smf-publish-wizard-step1-package"><span id="smf-publish-wizard-step1-iOSID"  class="smf-publish-wizard-step1-AndroidLine">io.smartface.demo</span>
				<br /><span id="smf-publish-wizard-step1-androidID" class="smf-publish-wizard-step1-iOSLine">io.smartface.demo</span></div>
		</div>
		<div id="smf-publish-wizard-step1-form-container2">
			<div class="select-licence-font">If the desired id is not listed, get a new license from account management</div>
			<div class="blackbutton  blackbuttonDefault " style="line-height: 22px; height: 22px; margin-bottom: 8px; margin-top: 8px; color:#fff!important; text-shadow: #333 0px 2px 0px!important;">Manage License</div>
		</div>
	</div>
</div>